@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
}
html,body{
  height:100%;
  width:100%;
}
body {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  min-height: 100vh;
  min-width:100%;
  margin: 0 auto;
  background: hsl(211,6%,92%);
}

.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
}
.person{
    display: flex;
    align-items: center;

}
.head{
    border-radius: 50%;
    margin-right: 10px;
}    

div {
  /* border:solid crimson 2px; */
}

.daniel {
 
  background: url(./images/bg-pattern-quotation.svg), var(--Moderate-violet);
  background-repeat: no-repeat;
  background-size: 50px;
  color: var(--White);
}
.jonathan {
 
  background: var(--Very-dark-grayish-blue);
  color: var(--White);
}
.kira {
 
  background: var(--White);
}
.jeanette {
 
  background: var(--White);
}
.patrick {
 
  background: var(--Very-dark-blackish-blue);
  color: var(--White);
}
@media only screen and (min-width:577px){

.container {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  /*grid-template-rows: 1fr 1fr;*/

  grid-template-areas:

    "daniel   daniel   jonathan kira"

    "jeanette patrick  patrick  kira";

  gap: 30px;

  width: 70%;

  /* border:solid 2px blue; */

  margin: auto auto;

  }

  .daniel {

  grid-area: daniel;




}

.jonathan {

  grid-area: jonathan;





}

.kira {

  grid-area: kira;



}

.jeanette {

  grid-area: jeanette;



}

.patrick {

  grid-area: patrick;





}

 }

@media only screen and (max-width:576px){

  .container{

    display:grid;

    grid-template-columns: 1fr;

    gap: 30px;

  width: 70%;

  /* border:solid 2px blue; */

  margin: auto auto;

  }

}

