@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  line-height: 1.3rem;
  min-width: 100%;
  position: relative;
  background: hsl(211, 6%, 92%);
}
.card {
  padding: 36px;
  border-radius: 10px;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}
.person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.person img {
  width: 30px;
  height: 30px;
  /* border: 1px solid ; */
  box-shadow: 0 0 2px 1px;
  border-radius: 50%;
  margin-right: 16px;
}
.person .status {
  filter: opacity(50%);
}
.title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-bottom: 14px;
}
.testemony {
  font-size: 13px;
  font-weight: 500;
  filter: opacity(70%);
}
.daniel {
  background: url(./images/bg-pattern-quotation.svg), var(--Moderate-violet);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: top right;
  background-position-x: 85%;
  color: var(--White);
}
.jonathan {
  background: var(--Very-dark-grayish-blue);
  color: var(--White);
}
.kira {
  background: var(--White);
}
.jeanette {
  background: var(--White);
}
.patrick {
  background: var(--Very-dark-blackish-blue);
  color: var(--White);
}

@media only screen and (min-width: 993px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "daniel   daniel   jonathan kira"
      "jeanette patrick  patrick  kira";
    gap: 20px;
    max-width: 1110px;
    margin: 50px auto;
  }

  .daniel {
    grid-area: daniel;
  }

  .jonathan {
    grid-area: jonathan;
  }

  .kira {
    grid-area: kira;
  }

  .jeanette {
    grid-area: jeanette;
  }

  .patrick {
    grid-area: patrick;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 80%;
    /* border:solid 2px blue; */
    margin: 50px auto;
  }
}
